*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color : #50c878;
    --border-5:5px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background: #f0ffff;
}
button{
    transition: transform .3s;
}
button:hover {
    transform: scale(1.03);
}
.section-head {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.section-head  h2 {
    letter-spacing: 1px;
    font-size: 1.7em;
    font-weight: normal;
}
.section-head p {
    margin: 20px 0 30px;
    font-size: 14px;
    color: #222;
}
header{
    width: 100%;
    height: 68px;
    padding: 10px 40px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 100;
}
header .logo h1 {
    font-size: 2.2em;
    cursor: pointer;
    color: #50c878;
    i {
        margin-right: 10px;
        color: var(--main-color);
    }
}
header nav ul {
    text-align: right;
    li {
        display: inline-block;
        margin: auto 10px ;
        list-style: none;
        a {
            text-decoration: none;
            color: #000;
            font-size: 1.2em;
            font-weight: normal;
            transition: .5s ;
            padding: 10px;
            border-radius: var(--border-5) ;
            font-weight: 600;
        }
    }
}
header nav .bargar {
    width: 30px;
    display: none;
    span {
        display: block;
        width: 100%;
        height: 3px;
        margin: 5px 0; 
        background-color: #333;
    }
}
@media (max-width:767px){
    header nav ul {
        display: none;
    }
    header nav .bargar {
        display: block;
    }
}
header nav ul li a:hover  {
    color: var(--main-color);
    background-color: #50c87810;
}
/* landing */
.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./flights-imges/flight-on04.jpeg");
    background-size: cover;
    position: relative;
}
.landing h1 {
    font-size: 3.5em;
    color: #0Bf623;
}
.landing p:first-of-type {
    font-size: 1.5em;
    max-width:800px;
    text-align: center;
    color: #fff;
}
.landing p {
    color: #fff;
    margin: 10px 0;
    i {
        color: gold;
    }
}
.landing button {
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: var(--border-5);
    color: #fff;
    background: #0Bf623;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
    a{
        text-decoration: none;
        color: #fff;
    }
}
.landing button i {
        margin-right: 10px;
}
/* flights */
.flights {
    padding: 60px 40px;
}
.filter {
    background: #fff;
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
    border-radius: var(--border-5);
    box-shadow: 0 0 4px rgba(0, 0, 0, .05);
    ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    h4 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: normal;
        i {
            margin-right: 10px;
        }
    }
}
.filter ul li {
    padding: 7px 15px;
    border-radius: var(--border-5);
    font-weight: 500;
    border: 1px solid var(--main-color);
}
.active{
    background-color: var(--main-color);
    color: #fff;
}
.filter ul li:not(.active):hover {
    background-color: #50c8781e;
}
.flights .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 15px;
}
.flights .wrapper .card {
    background: #fff;
    border-radius: var(--border-5);
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .03);
}
.flights .wrapper .card .head {
    display: flex;
    margin-bottom: 20px;
    padding-bottom:20px ;
    border-bottom: 1px solid #eee;
    text-wrap: nowrap;
    position: relative;
    i {
        margin-right: 5px;
        padding: 5px;
    }
    .from,.to {
        font-size: 1.6em;
        font-weight: 500;
    }
    .flight-number {
        position: absolute;
        right: 5px;
        background-color: #f0ffff;
        font-weight: 600;
        border-radius:50px;
        padding: 5px 10px;
        font-size: .89em;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .03);

    }
    .airline {
            font-size: 11px;
            font-weight: normal;
            color: #666;
    }
}
.red {
    background: rgb(207, 80, 207);
}
.flights .wrapper .card .date-card {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #555;
    padding-bottom :20px; 
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    p {
        i {
            margin-right: 10px;
            color: var(--main-color);
        }
    }
}
.flights .wrapper  .price-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-weight: 900;
        color: #1877f2;
        .cls {
            font-size: 12px;
            border: 1px solid #ddd;
            border-radius: 20px;
            font-weight: 300;
            padding: 2px 5px;
            margin-left: 20px;
            color: #333;
        }
        .price {
            font-size: 1.3em;
        }
    }
    .book-now {
        padding: 10px 20px;
        color: #fff;
        background: rgb(47, 214, 47);
        border: 0;
        outline: 0;
        border-radius: var(--border-5);
        font-weight: 600;
        font-size: .9em;
        cursor: pointer;
        i {
            margin-right: 10px;
            font-weight: bold;
        }
    }
}
.why-me {
    width: fit-content;
    text-align: center;
    padding: 20px ;
    margin: 0 auto;
    background: #fff;
    border-radius: var(--border-5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .05);
}
.why-me h2 {
    margin-bottom: 15px;
    font-size: 1.6em;
}
.why-me p {
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}
.why-me button {
    border: 0;
    outline: 0;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    border-radius: var(--border-5);
    cursor: pointer;
    background-color: rgb(47, 214, 47);
    i{
        margin-right: 10px;
        font-weight: bold;
    }
}
/* popular */
.popular {
    margin: 0;
    padding: 60px 40px;
}
.popular .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}
.container .box {
    background: #fff;
    border-radius: var(--border-5);
    padding-bottom: 20px; ;
    box-shadow: 0 0 5px rgba(0, 0, 0, .03);
}
.container .box .img {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: var(--border-5);
    position: relative;
    img {
        width: 100%;
        height: 250px;
        border-radius: var(--border-5) var(--border-5) 0 0;
        transition: .3s ease;
        filter: grayscale(30%);
    }
    img:hover {
        transform: scale(1.05);
        filter: grayscale(0%);
    }
    span {
        position: absolute;
        right: 20px;
        top: 20px;
        background: #fff;
        border-radius: 30px;
        font-size: 12px;
        padding: 2px 5px;
        i {
            color: gold;
            margin-right: 3px;
        }
    } 
}
.container .text {
    padding: 0 10px;
    margin-bottom: 15px;
    h3 {
        font-weight: normal;
        margin-bottom: 5px;
        font-size: 1.3em;
        i {
            margin-right: 10px;
            color: #50c878;
        }
    }
    span {
        font-size: 13px;
        color: #333;
    }
}
.container .prise-book {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    p {
        font-size: 13px;
        color: #222;
        span {
            font-size: 1.7em;
            font-weight: bold;
            color:#50c878;
        }
    }
    button {
        border: 0;
        outline: 0;
        border-radius: var(--border-5);
        background-color: transparent;
        color: #222;
        font-weight: 600;
        padding: 10px 20px;
        font-size: .9em;
        cursor: pointer;
        border: 1px solid #ddd;
        transition: .5s;
    }
    button:hover {
        background-color: var(--main-color);
        color: #fff;
        border: 0;
    }
}
/* choose me  */
.choose-me {
    padding: 0 40px;
}
.choose-me .parent {
    margin: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.choose-me .parent .child {
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: var(--border-5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .03);
    i {
        padding: 20px;
        background: var(--main-color);
        color: #fff;
        border-radius: 50%;
        font-size: 20px;
        margin-bottom: 20px;
    }
    h3 {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 1.4em;
        color: #50c878;
    }
    p {
        font-weight: 400;
        color: #333;
        font-size: 14px;
        line-height: 1.5;
    }
}
/* footer  */
footer {
    background: #333;
    color: #fff;
    padding: 50px 30px 20px;
}
footer .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding-bottom: 30px;
} 
ul li {
    list-style: none;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}
footer .one{
    h3 {
        font-size: 1.8em;    
        margin:0 0 10px ;
        color: #50c878;
        i {
            padding: 10px;
            margin-right: 10px;
            border-radius: var(--border-5);
        }
    }
    p{
        margin-bottom: 20px;
        line-height: 1.4;
    }
    .social {
        display: flex;
        i {
            display: block;
            width: 40px;
            text-align: center;
            border-radius: var(--border-5);
            background: rgba(255, 255, 255, .1);
            margin-right: 15px;
            padding: 10px;
            font-size: 1.4em;
            cursor: pointer;
        }
        i.fa-facebook-f:hover {
            background-color: #1877f2;
        }
         i.fa-square-x-twitter:hover {
            background-color: #000;
        }
         i.fa-instagram:hover {
            background-color: #E1306C;
        }
    }
}
footer .two h4 ,.three h4, .four h4 {
    margin-bottom: 20px;
    font-size: 1.3em;
}
.four h5 , .four p {
    margin-bottom: 15px;
    i {
        margin-right: 10px;
        color: var(--main-color);
    }
}
.four p {
    font-size: 14px;
}
.footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 0 0 ;
    .skyWing {
        font-size: 1.3em;
        color: #50c878;
        font-weight: 600;
    }
    ul {
        display: flex;
        gap: 20px;
    }
}