*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    scroll-behavior: smooth;
}
:root {
    --main-color : #0077b6;
    --border-5:5px;
    --border-rad-10:10px;
    --transition:.4s;
    --p-color:#777;
}
body{
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
}
html[lang="ar"] body {
    direction: rtl;
    text-align: right;
    font-family:'Cairo', sans-serif;
}

button{
    transition: transform var(--transition);
}
button:hover {
    transform: scale(1.02);
}
.section-head {
    width: fit-content;
    margin: 0 auto 50px;
    text-align: center;
}
.section-head h2 {
    letter-spacing: 1px;
    line-height: 2;
    font-size: 2rem;
    margin:0 auto 30px;
    width:fit-content;
    font-weight: 700;
    background: linear-gradient(135deg,#03045e, #0077b6); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    position: relative;
}
.section-head h2::before,
.section-head h2::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
}
.section-head h2::before{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    bottom: -15px;
}
.section-head h2::after{
    width: 200px;
    height: 3px;
    bottom: -7px;
    left: calc(50% - 90px);
}
.section-head p {
    margin: 20px 0 30px;
    font-size: 14px;
    color: var(--p-color);
}
.body-home{
    background: #f6f6f6;
}
.borgar-icon {
    width: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-end;
    opacity: 0;
}
.borgar-icon span {
    width: 100%;
    height: 3px;
    margin-bottom: 3px;
    background-color:#333;
    font-weight: bold;
}
.borgar-icon span:nth-child(2) {
    width: 70%;
}
header{
    width: 100%;
    height: 68px;
    padding: 20px 50px;
    background: #ffffffe1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 100;
}
header .logo img {
    width:80px;
}
header nav ul {
    text-align: right;
}

header nav ul li {
    display: inline-block;
    margin: 20px 10px 0;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    transition: var(--transition);
    padding: 7px 20px;
    border-radius: var(--border-5);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

header ul li a.active {
    color: #03045e;
    background-color: #0076b656;
}
/* borgar icon */
@media (max-width:767px){
    header  nav  ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 60px;
        top: 50px;
        border-radius: 10px;
        background-color: #f6f6f6;
        color: #333;
        padding: 10px 0;
        text-align: left; 
        display: none;
    }
    header  nav  ul li{
        margin-bottom: 20px;
    }
    header nav .borgar-icon {
        opacity: 1;
    }
    ul.sm-sc {
        display: flex;
    } 
}
header nav ul li a:hover  {
    color: #03045e;
    background-color: #0076b650;
}
.lang-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin-left: 10px;
}

.lang-toggle:hover {
  background-color: #0056b3;
}

 .landing {
    height: 100vh; /* full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;

    /* Background image settings */
    background-image: url("./flights-imges/landing4-min.webp"); /* Replace with your image path */
    background-size: cover;   /* Cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    background-attachment: fixed; /* Optional: makes background fixed on scroll */
}
.landing h1 {
    font-size: 3em;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #03045e); /* green + blue */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.landing p{
    font-size: 1em;
    max-width:700px;
    text-align: center;
    color: #03055ee7;
}
.landing button {
    padding: 10px 25px;
    border: 0;
    outline: 0;
    border-radius: var(--border-5);
    color: #fff;
    background:var(--main-color);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
}
.landing button a{
    text-decoration: none;
    color: #fff;
}
.landing button i {
    margin-right: 10px;
}
/* flights */
.flights {
    width:100%;
    padding: 60px 30px;
    background: #f9f9f9;
}
.filter {
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
}
.filter h4 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}
.filter h4 i {
    margin-right: 10px;
}
.filter ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.filter ul li {
    padding: 7px 15px;
    border-radius: var(--border-5);
    font-weight: 500;
    border: 1px solid var(--main-color);
}
.active{
    background-color: var(--main-color);
    color: #fff;
}
.filter ul li:not(.active):hover {
    background-color: #50c8781e;
}
.flights .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .05);
    border-radius: var(--border-5);
}
.card .row-1 {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.card .row-1 .city h2{
    font-size: 1.3rem;
    font-weight: 600;
}
.card .row-1 .city span{
    font-size: .675rem;
    color: var(--p-color);
}
.card .row-1 .duration-text{
    position: relative;
    text-align: center;
}
.card .row-1 .duration-text::before{
    content: "";
    position: absolute;
    left: -23px;
    top: 25px;
    width: 140px;
    height: 1px;
    background-color: #ddd;
}
.card .row-1 .duration-text i{
    display: block;
    margin: 10px 30px;
    background-color: #0077b6;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    transition: var(--transition);
    transform: translateY(50px);
    animation: logo-spin 2s ease-in-out infinite forwards alternate;
}
@keyframes logo-spin {
  from {
    transform: translateY(-5px)
  }
  to {
    transform: translateY(5px)
  }
}
.card .row-1 .duration-text span{
    font-size: .675rem;
    color: var(--p-color);
}
.card .row-2{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: .9rem;
    color: var(--p-color);
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.card .row-2 > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.card .row-2 .date-text{
    padding-left: 15px;
    border-left: 1px solid #ccc ;
}
.card .row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .row-3 span{
    display: inline-block;
    margin-bottom: 5px;
    font-size: .875rem;
    color: var(--p-color);
}
.card .row-3 p{
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.4rem;
}
.card .row-3 button{
    padding: 10px 20px ;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: var(--border-5);
}
.card .row-3 button i {
    margin-right: 5px;
    font-weight: bold;
}


.book {
    display: block;
    width:100%;
    margin: 20px auto;
    padding: 10px 25px;
    border:none;
    background-color:var(--main-color);
    color:#fff;
    font-weight: bold;
    border-radius:5px;
    font-size: 1.2rem;
}
.see-all{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: #fff;
    padding: 10px 20px;
    width: fit-content;
    margin: 70px auto 0;
    border-radius: var(--border-5);
    cursor: pointer;
    text-align: center;
    transition: background-color var(--transition) ease;
    text-decoration: none;
}
.see-all:hover{
    background-color: #00bfff1c;
}
/* why me */
.why-me {
    width: fit-content;
    text-align: center;
    padding: 20px ;
    margin: 30px auto;
    background: #fff;
    border-radius: var(--border-5);
    box-shadow: 0px 5px 0px rgba(0, 0, 0, .1);
}
.why-me h2 {
    margin-bottom: 15px;
    font-size: 1.3em;
}
.why-me p {
    color: var(--p-color);
    margin-bottom: 20px;
    font-size: .975rem;
}
.why-me button {
    border: 0;
    outline: 0;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    border-radius: var(--border-5);
    cursor: pointer;
    background-color: var(--main-color);
    i{
        margin-right: 10px;
        font-weight: bold;
    }
}
/* popular */
.popular {
    padding: 60px 30px;
}
.popular .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.container .box {
    background: #fff;
    border-radius: var(--border-5);
    padding-bottom: 20px; ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
.container .box .img {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: var(--border-5);
    position: relative;
    img {
        width: 100%;
        height: 250px;
        border-radius: var(--border-5) var(--border-5) 0 0;
        transition: var(--transition) ease;
    }
    img:hover {
        transform: scale(1.05);
    }
    span {
        position: absolute;
        right: 20px;
        top: 20px;
        background: #fff;
        border-radius: 30px;
        font-size: 12px;
        padding: 2px 5px;
        i {
            color: gold;
            margin-right: 3px;
        }
    } 
}
.container .text {
    padding: 0 15px;
    margin-bottom: 15px;
    h3 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 1.1em;
        i {
            margin-right: 5px;
            color: var(--main-color);
        }
    }
    span {
        font-size: 13px;
        color: var(--p-color);
    }
}
.container .prise-book {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    p {
        font-size: 13px;
        color: var(--p-color);
        span {
            font-size: 1.7em;
            font-weight: bold;
            color:var(--main-color);
        }
    }
    button {
        border: 0;
        outline: 0;
        border-radius: var(--border-5);
        background-color: transparent;
        color: #222;
        font-weight: 600;
        padding: 10px 20px;
        font-size: .9rem;
        cursor: pointer;
        border: 1px solid #ddd;
        transition: var(--transition);
    }
    button:hover {
        background-color: var(--main-color);
        color: #fff;
        border: 0;
    }
}
/* choose me  */
.choose-me {
    padding:60px 30px;
    background-color: #f9f9f9;
}
.choose-me .parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.choose-me .parent .child {
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: var(--border-5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .03);
    transition: var(--transition);
    i {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color:#003459;
        color: #fff;
        font-weight: bold;
        border-radius: 30%;
        font-size: 25px;
        margin-bottom: 20px;
    }
    h3 {
        font-weight: normal;
        margin-bottom: 7px;
        font-size: 1.4em;
        color: #03045e;
    }
    p {
        font-weight: 400;
        color: var(--p-color);
        font-size: 13px;
        line-height: 1.5;
    }
}
.choose-me .parent .child:hover{
    transform: translateY(-5px);
    background-color: #00171f;
    p,h3{
        color: #fff;
    }
}
/* footer  */
footer {
    background: #333;
    color: #fff;
    padding: 50px 30px 20px;
}
footer .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding-bottom: 30px;
} 
ul li {
    list-style: none;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    transition: var(--transition);
}
footer ul li:hover {
    color:var(--main-color);
    transform: translateY(2px);
}
footer .one{
    h3 {
        display: flex;
        align-items: center;
        font-size: 1.2em;    
        margin:0 0 10px ;
        color: var(--main-color);
       img {
            width:40px;
        }
    }
     
    p{
        margin-bottom: 20px;
        line-height: 1.4;
    }
    .social {
        display: flex;
        i {
            display: block;
            width: 40px;
            text-align: center;
            border-radius: var(--border-5);
            background: rgba(255, 255, 255, .1);
            margin-right: 15px;
            padding: 10px;
            font-size: 1.4em;
            cursor: pointer;
        }
        i.fa-facebook-f:hover {
            background-color: #1877f2;
        }
         i.fa-square-x-twitter:hover {
            background-color: #000;
        }
         i.fa-instagram:hover {
            background-color: #E1306C;
        }
    }
}
footer .two ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: var(--transition);
    margin: 0 5px;
}
footer .two ul li a:hover {
    color: var(--main-color);
}
footer .two h4 ,.three h4, .four h4 {
    margin-bottom: 20px;
    font-size: 1.3em;
}
.three .text-sm p{
    margin-bottom: 10px;
}
.four h5 , .four p {
    margin-bottom: 15px;
    i {
        margin-right: 10px;
        color: var(--main-color);
    }
}
.four p {
    font-size: 14px;
}
.footer {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 15px 0 0 ;
    .skyWing {
        font-size: 1.2em;
        color: var(--main-color);
        font-weight: 500;
    }
    ul {
        display: flex;
        gap: 20px;
    }
}

@media (max-width:350px) {
    .landing h1 {
        font-size: 1rem;
    }
    .landing p{
        font-size: .2rem;
        padding:5px;
    }
    .flights,
    .choose-me,
    .popular {
        padding:40px 15px;
    }
    .flights .wrapper,
    .choose-me .parent,
    .popular .container  {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap:10px;
    }
}

@media (max-width:768px) {
    .landing h1 {
        font-size: 2.2rem;
    }
    .landing p{
        font-size: 1.1rem;
        padding:5px;
    }
}

/* about page  */
.about{
    padding-top: 68px;
    text-align: center;
}
.special-landing{
    padding: 60px 0;
    background-color :#0076b648;
    h1{
        font-size: 3rem;
        margin-bottom: 20px;
        color: #03045e;
    }
    p{
        font-size: 1rem;
        color: #666;
    }
}

.about-our-story{
    margin:50px auto;
    width: 70%;
    padding: 0 30px;
}
.about-our-story h2 , 
.about-values h2, 
.all-flights .all-head h2 {
    letter-spacing: 1px;
    line-height: 2;
    font-size: 2rem;
    margin:0 auto 50px;
    width:fit-content;
    font-weight: 700;
    background: linear-gradient(135deg,#03045e, #0077b6); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    position: relative;
}
.about-our-story h2::before,
.about-our-story h2::after , 
.about-values h2::before, 
.about-values h2::after,
.all-flights .all-head h2::before,
.all-flights .all-head h2::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
}
.about-our-story h2::before, 
.about-values h2::before,
.all-flights .all-head h2::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    bottom: -15px;
}
.about-our-story h2::after, 
.about-values h2::after,
.all-flights .all-head h2::after {
    width: 200px;
    height: 3px;
    bottom: -7px;
    left: calc(50% - 90px);
}
.about-our-story p{
    line-height: 1.6;
    color: #666;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
}
.about-values{
    margin: 70px 0;
    padding: 0 30px;
}
.about-values .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
.about .box{
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: var(--border-5);
    transition: var(--transition);
    border: 1px solid #ddd;
    i {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color:#003459;
        color: #fff;
        font-weight: bold;
        border-radius: 30%;
        font-size: 25px;
        margin-bottom: 20px;
    }
    h3 {
        font-weight: normal;
        margin-bottom: 7px;
        font-size: 1.4em;
        color: #03045e;
    }
    p {
        color: var(--p-color);
        font-size: 13px;
        line-height: 1.5;
    }
}
.about .box:hover{
    transform: translateY(-5px);
    background-color: #00171f;
    p,h3{
        color: #fff;
    }
}
@media (max-width:768px) {
    .about-values{
        padding: 0 10px;
    }
}


/* contact us page  */
.contact {
    padding-top: 68px;
    text-align: center;
}
.contact .wrapper{
    padding: 60px;
    text-align: left;
    display: flex;
    gap: 20px;
}
.contact .wrapper > div {
    flex: 1;
}
.contact .wrapper h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.contact .wrapper form{
    display: flex;
    flex-direction: column;
}
.contact form input{
    width: 100%;
    padding: 10px ;
    height: 40px;
    border:1px solid #ddd;
    border-radius: var(--border-5);
    margin: 5px 0 15px;
    outline: none;
}
.contact form textarea{
    margin: 5px 0 20px;
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: var(--border-5);
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
}
.contact form textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}
.contact form button {
    padding: 15px;
    border: 0;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: var(--border-5);
    cursor: pointer;
    transition:.4s ease;
}
.contact form button:hover{
    background-color: hsl(195, 100%, 40%);
}
.contact .wrapper .box{
    background-color: #0076b625;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: var(--border-rad-10);
    h4{
        margin-bottom: 5px;
    }
    p{
        color: #666;
    }
}
.contact .work-time{
    background-color: #0076b625;
    padding: 20px;
    border-radius: var(--border-rad-10);
    h4{
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 5px;
        color: #666;
    }
}

/* all flights page  */
.all-flights{
    padding-top: 68px;
    text-align: center;
}
.all-flights .all-head p {
    color: #666;
}
@media (max-width:768px) {
    .contact .wrapper{
        display: flex;
        flex-direction: column;
    }
}


/* Arabic lang  */
body:dir(rtl),body[lang="ar"]{
    font-family: 'cairo',sans-serif;
    button{
        font-family: 'cairo',sans-serif;
    }
    .popular .box .text h3 i {
        margin-left: 10px;
    }
    .card .row-2 .date-text{
        padding-right: 15px;
        padding-left: 0;
        border-right: 1px solid #ccc ;
        border-left: 0;
    }

    /* contact us page  */
    .contact .wrapper{
        text-align: right;
    }
}